body {
    font-family: 'Roboto';
    background-color: #fff;
    color: #000;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F2F2F2;
    padding: 3%;
}

section {
    position: absolute;
    top: 25%;
    padding: 29% 3%;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

img {
    position: relative;
    bottom: 250px;
    left: 600px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background-color: #20a8b4;
    color: #fff;
    border: none;
    text-align: left;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    margin: 6px;
}

button:hover {
    background-color: #ff5c0f;
}

a:hover {
    color: #ff5c0f; 
}

@media screen and (min-width: 768px) {
    ul {
        position: relative;
        bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    button {
        width: auto;
    }

    header {
        padding: 20px;
        height: 50px;
    }

    img {
        height: auto;
        width: 40%;
        bottom: 400px;
        left: 962px;
    }

    section {
        padding: 15% 3%;
    }
    section button {
        position: relative;
        bottom: 275px;
    }
}